* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 1200px;
}

.container h1 {
    text-align: center;
}

.card {
    position: relative;
    text-align: center;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    margin: 100px auto;
    background-color: #c363d2;
    background: linear-gradient(45deg, rgb(118, 21, 230), rgb(195, 87, 182));
    width: 250px;
    height: 350px;
    border-radius: 10px;
    color: #fff;
}

.card .card-title {
    text-transform: uppercase;
    font-size: 30px;
}

.card p {
    margin-bottom: 40px;
}

.card .card-link {
    position: absolute;
    top: 270px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(144, 31, 131);
    padding: 10px 20px;
    border-radius: 20px;
    transform-origin: center;
    transition: background-color .5s;
}

.card .card-link:hover {
    background-color: rgb(165, 77, 155);
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
    
} */

/* 
.container {
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 250px;
    height: 350px;
    margin: 100px auto;
    background: linear-gradient(rgb(118, 21, 230), rgb(195, 87, 182));
    border-radius: 10px;
    color: #fff;
}

.card-title {
    font-size: 30px;
}
.card-link {
    color: #fff;
    text-decoration: none;
    background-color: rgb(233, 74, 215);
    padding: 10px 20px;
    border-radius: 20px;
}
.card-link:hover {
    padding: 15px 25px;
} */
