* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content:space-around;    /* flex-start | center | flex-end | space-between | space-around */
    align-items: center; /* */
    flex-wrap: wrap;
    gap: 10px;

    background-color: #4caf50;
    min-height: 600px;
    margin: 20px;
    padding: 20px;
}

.section {
    background-color: #3498db;
    width: 200px;
    height: 200px;

}


















/* 
.container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: start;
    start, center, end, space-between, space-around 
    align-items: center;
    flex-wrap: wrap;
    no-wrap
    gap: 20px;

    background-color: green;
    height: 400px;
    margin: 50px;
}

.item {
    background-color: orangered;
    width: 50px;
    height: 50px;
    margin: 20px;
} */