.form {
    width: 50%;
    min-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 100px auto;
}

.form .email, .form textarea {
    width: 100%;
}

.form .email {
    height: 30px;
}

.form textarea {
    height: 300px;
}

.form h2 {
    margin: 30px 0;
}

.form .submit {
    padding: 10px 20px;
    border: none;
    background-color: rgb(29, 89, 230);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form .submit:hover {
    background-color: rgb(84, 125, 221);

}

.form div {
    margin-bottom: 20px;
}