/* MAIN */
/* SECTION 1 */
.section {
    width: 1200px;
    min-height: 300px;
    margin: auto;
    padding: 50px 0;
    /* border: 1px solid #999; */
    /* border-radius: 5px; */
    /* box-shadow: 4px 4px 8px #999; */
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.section span {
    font-weight: bold;
}

.section p {
    margin-bottom: 20px;
}

.link {
    color: rgb(255, 41, 41);
    text-decoration: none;
}

.link:hover {
    color: rgb(220, 110, 110);
}
