/* MAIN */

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-image: url(../img/eiffel-tower.jpg);
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;

    min-height: 600px;
    text-align: center;
    color: #fff;
}

.hero a {
    text-decoration: none;
    color: #fff;
    background-color: #0a2b19;
    padding: 20px 60px;
    border-radius: 5px;
}

.hero a:hover {
    background-color: #145833;
}

.hero .para {
    font-style: italic;
}

.hero h2 {
    text-transform: uppercase;
}

/* SECTION 1 */
.section {
    width: 1200px;
    min-height: 300px;
    margin: auto;
    padding: 50px 0;
    /* border: 1px solid #999; */
    /* border-radius: 5px; */
    /* box-shadow: 4px 4px 8px #999; */
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.section span {
    font-weight: bold;
}

.section p {
    margin-bottom: 20px;
}

.link {
    color: rgb(255, 41, 41);
    text-decoration: none;
}

.link:hover {
    color: rgb(220, 110, 110);
}
