/* INdEX MAIN 1 */
.section {
    border: 1px solid #999;
    text-align: center;
    padding: 50px 0;
    width: 1200px;
    min-height: 300px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #999;
}

.section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section span {
    font-weight: bold;
}

/* .section a {
    color: #ff0000;
    text-decoration: none;
}

.section a:hover {
    color: #f05555;
} */

.section p {
    margin-bottom: 20px;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    color: red;
}
