* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.section {
    text-align: center;
    border: 1px solid #999;
    padding: 50px 0px;
    margin: 20px auto;
    width: 1200px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #999;
}

.section a {
    color: red;
    text-decoration: none;
}
.section a:hover {
    color: #f05555;
}

.section h2 {
    font-size:22px;
    margin-bottom: 30px;
}

.section p {
    margin-bottom: 15px;
}