@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2b19;
    color: #fff;
    padding: 10px 80px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #999;
}

nav {
    display: flex;
    gap: 15px;
}




/* FOOTER */
