@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

/* SECTION 1 */
.section {
    /* border: 1px solid #999; */
    text-align: center;
    padding: 50px 0;
    width: 1200px;
    min-height: 300px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #999;
}

.section h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section span {
    font-weight: bold;
}

/* .section a {
    color: #ff0000;
    text-decoration: none;
}

.section a:hover {
    color: #f05555;
} */

.section p {
    margin-bottom: 20px;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    color: red;
}




























/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.section {
    text-align: center;
    border: 1px solid #999;
    padding: 50px 0px;
    margin: 20px auto;
    width: 1200px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #999;
}

.section a {
    color: red;
    text-decoration: none;
}
.section a:hover {
    color: #f05555;
}

.section h2 {
    font-size:22px;
    margin-bottom: 30px;
}

.section p {
    margin-bottom: 15px;
} */
